@import '../../common/scss/variables';
@import '../../common/scss/mixins';

.mustins-subscriptions-detail {
  color: $color-black;
  padding-bottom: 100px;

  &__title {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 0.81;
    font-family: $font-supermolot;
    padding-bottom: 70px;
    padding-top: 53px;
    margin: 0;
    word-break: break-word;
    
    @include tabletMax {
      font-size: 24px;
      line-height: 1;
    }

    @include phoneMax {
      font-size: 18px;
    }

    &-small {
      font-family: $font-ubuntu;
      font-size: 21px;
      line-height: 1.35;
      padding-bottom: 15px;
      font-weight: normal;
      margin: 0;

      @include tabletMax {
        font-size: 18px;
        line-height: 1;
      }
    }
  }

  &__wrapper{
    box-sizing: border-box;
    width: 100%;
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    @include tabletMax {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__subtitle {
    font-family: $font-ubuntu;
    margin: 0;
    color: $color-grey-dark;
    padding-bottom: 28px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-word;

    @include tabletMax {
      font-size: 14px;
      line-height: 1;
    }

    @include phoneMax {
      font-size: 12px;
    }
  }

  &__subscriptions {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-bottom: 80px;

    @include tabletMax {
      padding-bottom: 30px;
    }
  }

  &__cards {
    a{
      text-decoration: none;
    }
    &__add {
      margin-left: 10px;
      background-color: transparent;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      min-width: 157px;

      @include tabletMax {
        min-width: 134px;
      }

      &__circle {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-right: 5px;
      }

      &__plus {
        width: 100%;
        height: 100%;
        @include themify($themes) {
          fill: themed($colorPrimary);
        }
      }
      &__text {
        font-family: $font-ubuntu;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        
        @include tabletMax {
          font-size: 12px;
          line-height: 1;
        }
      }
    }

    &__list {
      padding-bottom: 80px;

      @include tabletMax {
        padding-bottom: 30px;
      }
    }
  }
}
