@import "../../common/scss/variables";
@import "../../common/scss/mixins";

.mustins {
  &-input {
    -moz-appearance: textfield;
    background: #FFFFFF;
    padding: 13px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid $color-must900;
    height: 48px;
    border-radius: 6px;
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
    color: $color-must900;
    width: 296px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:disabled {
      background: $color-must200;
      border-color: $color-must600;
      color: $color-must700;
    }

    &:invalid {
      box-shadow: none;
    }

    &__input-wrap {
      display: block;
    }

    &--error {
      border-color: #D76064;
      transition: border-color 0.15s ease-out;
    }

    &::placeholder {
      color: #d7d7dc;
    }

    &:focus,
    &:active {
      outline: none;
      @include themify($themes) {
        border-color: themed($colorPrimary);
      }
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button,
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
