.get-bill-step {

}

.get-bill-step__table {
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.get-bill-step__table-key {
  width: 117px;
  vertical-align: top;
}

.get-bill-step__table-value {
  width: 176px;
  vertical-align: top;
}
