@import "../../../../common/scss/variables";
@import "../../../../common/scss/mixins";

.header-mobile-menu {
  position: fixed;
  height: 100vh;
  width: 296px;
  top: 0;
  left: -296px;
  z-index: 1000;
  transition: 0.3s ease-in;
  background: $color-must100;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  overflow: auto;

  &--shown {
    left: 0;
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: $color-must900;
    opacity: 0;
    display: none;
    transition: 0.3s ease-in;
  }

  &--shown + &__overlay {
    display: block;
    opacity: 0.4;
  }

  &__close-row {
    height: 56px;
    display: flex;
    justify-content: flex-end;
  }

  &__close-icon {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close-icon-svg {
    width: 24px;
    height: 24px;
    color: $color-grey-dark;
  }

  &__user-block {
    border-top: 1px solid $color-must600;
    border-bottom: 1px solid $color-must600;
    padding-bottom: 24px;
    margin-bottom: 16px;
  }

  &__user-black {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    margin-left: 16px;
  }

  &__user-row {
    display: flex;
    align-items: center;
    height: 56px;
  }

  &__action-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }

  &__action-row {
    display: flex;
    align-items: center;
    padding: 16px;
    font-family: $font-ubuntu;
  }

  &__user-name-container {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

