$color-white: #fff;
$color-warning: #EC7D18;
$color-error: #F27A72;
$color-black-squeeze: #F7FCFC;


$color-primary: #27b4b8;
$color-primary-dark: #198C8F;
$color-primary-light: #52C3C6;
$color-primary-opacity: rgba(82, 195, 198, 0.5);
$color-black: #201F32;
$color-black-opacity: rgba(59, 58, 78, 0.5);
$color-grey-dark: #8F8E99;
$color-grey: #CCCCCD;
$color-grey-light: #F2F2F2;
$color-grey-light-2: #F5F5F5;
$color-white: #FFFFFF;
$color-red: #EF5740;

$color-warning: #EC7D18;
$color-must900: #201F32;
$color-must800: #8F8E99;
$color-must700: #BCBBC0;
$color-must600: #CCCCCD;
$color-must200: #F2F2F2;
$color-must150: #FAFAFA;
$color-must100: #FFF;

$color-status-success: #5BB94A;
$color-status-warning: #EC7D18;
$color-status-danger: #EF5740;

$color-primary400: #52C3C6;

$font-ubuntu: Ubuntu, sans-serif;
$font-supermolot: Supermolot, sans-serif;

$colorPrimary: 'colorPrimary';
$colorPrimary100: 'colorPrimary100';
$colorPrimary400: 'colorPrimary400';
$colorPrimary600: 'colorPrimary600';
$imageUploadBackgroundImage: 'imageUploadBackgroundImage';
$loaderPrimaryGif: 'loaderPrimaryGif';
$downloadIconPrimary: 'downloadIconPrimary';
$autocompleteBoxShadow: 'autocompleteBoxShadow';

// Transition
$transition-normal: .35s cubic-bezier(.4,0,.2,1);

