.mustins {
  &-form-title {
    font-family: 'Supermolot', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 6px;

    &--wide {
      letter-spacing: 0.025em;
    }

    &--both {
      display: flex;
      align-items: flex-start;
    }

    &--gray {
      color: #b9bbcd;
    }

    &__digit {
      flex: 0 0 20px;
      color: #b9bbcd;
    }

    &__title {
      flex-grow: 1;
    }
  }

}
