@import '../../../../common/scss/variables';
@import '../../../../common/scss/mixins';
@import '../../../../common/scss/themes';

.mustins-subscriptions-tarif-item {
  position: relative;
  font-family: $font-ubuntu;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  @include tabletMax {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }

  &__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 36px;
    box-sizing: border-box;
    background: $color-grey-light-2;
    border-radius: 8px;
    @include desktopMax {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include tabletMax {
      padding-top: 0;
      height: auto;
    }
  }

  &__head {
    height: 32px;

    @include tabletMax {
      height: 0;
    }

    &--show {
      background-color: $color-grey-dark;
      color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.3;
      border-radius: 6px 6px 0px 0px;
      letter-spacing: 0.4em;

      @include tabletMax {
        height: 32px;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 12px;
    padding-top: 31px;
    font-size: 21px;
    line-height: 135%;
    text-align: center;

    @include desktopMax {
      font-size: 18px;
      line-height: 1;
    }

    @include tabletMax {
      padding-bottom: 20px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    @include themify($themes) {
      color: themed($colorPrimary);
    }

    @include tabletMax {
      padding-bottom: 20px;
    }
  }

  &__price {
    font-family: $font-supermolot;
    font-weight: normal;
    font-size: 46px;
    line-height: 0.8;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 19px;

    @include desktopMax {
      font-size: 30px;
      line-height: 1;
    }

    &-text {
      color: $color-grey-dark;
      font-size: 14px;
      line-height: 1.4;
      text-align: center;
      margin-top: 4px;
      @include desktopMax {
        font-size: 12px;
        line-height: 1;
      }
    }
  }

  &__content {
    list-style: none;
    padding-left: 0;
    max-width: 245px;
    margin: 22px auto 0;

    &__item {
      font-size: 14px;
      line-height: 1.4;
      padding-left: 20px;
      white-space: pre-line;

      @include desktopMax {
        font-size: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &::before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-top: -5px;
        margin-left: -15px;
        font-size: 22px;
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 2px;
        @include themify($themes) {
            background-color: themed($colorPrimary);
        }
      }
    }
  }

  &__footer {
    display: block;
    width: 100%;
    max-width: 245px;
    margin: 31px auto 0;

    @include tabletMax {
      max-width: 296px;
    }
  }

  &__button,
  &__button_disabled {
    width: 100%;
    height: 44px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    font-family: $font-supermolot;
    @include themify($themes) {
      background-color: themed($colorPrimary);
    }
    @include tabletMax {
      margin-top: 20px;
    }
  }
  &__button_disabled {
    background-color: $color-grey;
    color: $color-white;
    pointer-events: none;
    cursor: default;
  }
  &__rouble {
    position: relative;
  }
  &__counter {
    position: relative;
    background: $color-white;
    border: 1px solid $color-must700;
    box-sizing: border-box;
    border-radius: 6px;
    display: block;
    margin-bottom: 14px;
    * {
      box-sizing: border-box;
    }

    &__plus,
    &__minus {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 0;
      margin: 0;
      padding: 0;
      height: 44px;
      width: 60px;
      cursor: pointer;
      outline: 0;
      &:hover {
        transform: scale(1.1);
      }
    }
    &__minus {
      left: 0;
      color: $color-grey-dark;
    }
    &__plus {
      right: 0;
      @include themify($themes) {
          color: themed($colorPrimary);
      }
    }
    &__icon {
      width: 1em;
      height: 1em;
      font-size: 20px;
    }
    &__value {
      height: 44px;
      line-height: 42px;
      text-align: center;
      font-size: 18px;
    }

  }
}
